<div id="geral">

    <div id="cabecario">
        <h2>
            <span>C</span><span>a</span><span>d</span><span>a</span><span>s</span><span>t</span><span>r</span><span>o</span>

            <span> de </span>

            <span>C</span><span>o</span><span>r</span><span>r</span><span>i</span><span>d</span><span>a</span>
        </h2>
    </div>

    <div id="form">

        <!-- DESCRIÇÃO DA CORRIDA -->
        <label for="descricao_corrida">
            Descrição da Corrida
        </label>

        <input
            type="text"
            name="descricao_corrida"
            id="descricao_corrida"
            class="input01"
            [(ngModel)]="corrida.descricao_corrida"
            maxlength="200"
            required
            placeholder="Digite a descrição da corrida"
        >


        <!-- DATA DA CORRIDA -->
        <label for="data_corrida">
            Data da Corrida
        </label>

        <input
            type="date"
            name="data_corrida"
            id="data_corrida"
            class="input01"
            [(ngModel)]="corrida.data_corrida"
            required
        >


        <!-- DISTÂNCIAS -->
        <label>
            Distâncias Disponíveis
        </label>

        <div id="distancias">

            <label>
                <input
                    type="checkbox"
                    name="distancia_5km"
                    [(ngModel)]="corrida.distancia_5km"
                >
                5 km
            </label>

            <label>
                <input
                    type="checkbox"
                    name="distancia_10km"
                    [(ngModel)]="corrida.distancia_10km"
                >
                10 km
            </label>

            <label>
                <input
                    type="checkbox"
                    name="distancia_25km"
                    [(ngModel)]="corrida.distancia_25km"
                >
                25 km
            </label>

        </div>


        <!-- BOTÃO -->
        <div id="btns">

            <button
                type="button"
                (click)="cadastrar()"
            >
                Cadastrar Corrida
            </button>

        </div>

    </div>

</div>