<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">
            <li><a routerLink="/home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/cadastroAtleta" class="lnk-menu">Cadastro Atleta</a></li>
            <li><a routerLink="/listarAtleta" class="lnk-menu">Listar Atleta</a></li>
            <li><a routerLink="/cadastroCorrida" class="lnk-menu">Cadastro Corrida</a></li>
            <li><a routerLink="/corridas" class="lnk-menu">Listar Corridas</a></li>
            <li><a routerLink="/cadastro-inscricao" class="lnk-menu">Inscrições</a></li>
            <li><a routerLink="/corrida" class="lnk-menu">Corrida</a></li>
         
        </ul>
    </nav>
</header>

